.wrapper {
    height: 100vh;
    min-height: 660px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    padding: 0 var(--page-padding);
    margin: 0 auto;

    @media (max-width: 992px) {
        min-height: 560px;
    }

    @media (max-width: 576px) {
        min-height: 500px;
    }
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    position: relative;
    z-index: 9;

    @media (max-width: 992px) {
        gap: 32px;
    }

    @media (max-width: 576px) {
        gap: 24px;
    }
}

.header {
    font-weight: 700;
    font-size: 86px;
    line-height: 1.1;

    span {
        background: linear-gradient(var(--text-gradient));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (max-width: 1400px) {
        font-size: 64px;
    }

    @media (max-width: 992px) {
        font-size: 48px;
    }

    @media (max-width: 576px) {
        font-size: 32px;
    }
}

.paragraph {
    font-size: 24px;

    @media (max-width: 1400px) {
        font-size: 20px;
    }

    @media (max-width: 992px) {
        font-size: 18px;
    }

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.ornament1 {
    top: -100px;
    left: -800px;
}

.ornament2 {
    top: -400px;
    left: -500px;

    @media (max-width: 1400px) {
        top: -300px;
    }
}

.ornament3 {
    top: -300px;
    left: 500px;

    @media (max-width: 992px) {
        left: 300px;
    }

    @media (max-width: 576px) {
        left: 200px;
    }
}

.ornament4 {
    top: 100px;
    left: 1200px;

    @media (max-width: 1400px) {
        left: 800px;
    }

    @media (max-width: 992px) {
        left: 550px;
    }
}
