:root {
    --max-width: 1400px;
    --border-radius: 12px;
    --page-padding: 24px;

    --white: #fff;
    --background: #000;
    --button-border: #242424;
    --button-bg: #181818;

    --text-gradient: 90deg, #001aff 0%, #a50eda 25%, #fc036d 49.5%, #fd523d 75%,
        #faff00 97%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}
