:root {
    --max-width: 1300px;
    --border-radius: 12px;
    --page-padding: 24px;

    --white: #fff;
    --secondary-color: #333;
    --background: #000;
    --secondary-background: #f5f7fa;
    --border: #242424;
    --button-bg: #181818;
    --pink: #f151f1;
    --error: #d11717;

    --text-gradient: 90deg, #001aff 0%, #a50eda 25%, #fc036d 49.5%, #fd523d 75%,
        #faff00 97%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--background);
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    padding-bottom: 200px;
}
