:root {
    --max-width: 1300px;
    --border-radius: 12px;
    --page-padding: 24px;

    --white: #fff;
    --secondary-color: #333;
    --background: #000;
    --secondary-background: #f5f7fa;
    --border: #242424;
    --hover-border: #606060;
    --button-bg: #181818;
    --hover-button-bg: #2e2e2e;
    --pink: #f151f1;
    --error: #a70b0b;
    --success: #2aad1f;

    --text-gradient: 90deg, #001aff 0%, #a50eda 25%, #fc036d 49.5%, #fd523d 75%,
        #faff00 97%;
}

@media (max-width: 576px) {
    :root {
        --page-padding: 16px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--background);
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    padding-bottom: 200px;
}

.ornament {
    pointer-events: none;
    position: absolute;
    z-index: -1;
}
