.footer {
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}

.innerWrapper {
    padding: 100px var(--page-padding) 32px;
    max-width: var(--max-width);
    margin: 0 auto;

    @media (max-width: 992px) {
        padding-top: 70px;
    }

    @media (max-width: 576px) {
        padding-top: 40px;
    }
}

.head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--secondary-color);

    p {
        font-weight: 700;
        font-size: 20px;
        color: var(--pink);
    }

    @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
}

.title {
    align-items: center;
    display: flex;
    gap: 16px;

    h2 {
        font-size: 43px;
        letter-spacing: 0em;
        color: #000;
    }

    @media (max-width: 576px) {
        flex-direction: column;

        h2 {
            font-size: 28px;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    padding: 80px 0 40px;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 20px;

    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    @media (max-width: 576px) {
        font-size: 14px;
        padding: 40px 0;
        gap: 40px;
    }
}

.links {
    display: grid;
    gap: 100px;
    grid-template-columns: 80px 238px;
    justify-content: flex-end;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 18px;
    font-weight: 700;

    li:first-of-type {
        font-weight: 400;
    }
}

.rights {
    text-align: center;
    padding-top: 34px;
}
