.list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0;
}

.listItem {
    display: flex;
    gap: 34px;

    h5 {
        font-size: 28px;
        margin-bottom: 24px;
    }

    p {
        line-height: 1.35;
    }
}

.imageWrapper {
    background-color: var(--background);
    height: 34px;
    position: relative;
    z-index: 9;

    &::after {
        width: 10px;
        height: 60px;
        background-color: var(--background);
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}
