.select-field {
    &__wrapper--error {
        .select-field__control {
            border-color: var(--error) !important;

            &--is-focused {
                border-color: var(--error) !important;
                box-shadow: 0 0 0 1px var(--error) !important;
            }
        }
    }

    &__control {
        border-radius: 16px !important;
        width: 100%;
        border: 1px solid var(--border) !important;
        transition: none !important;
        background-color: var(--button-bg) !important;

        &--is-focused {
            box-shadow: 0 0 0 1px var(--pink) !important;
        }
    }

    &__value-container {
        padding: 0 16px !important;
        height: 44px;
    }

    &__input-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    &__input {
        caret-color: var(--pink);
        color: var(--pink) !important;
        font-size: 20px !important;
        font-weight: 400 !important;
        box-shadow: none !important;

        @media (max-width: 1200px) {
            font-size: 16px !important;
        }
    }

    &__placeholder {
        color: var(--pink) !important;
        font-size: 20px;
        opacity: 1;
        font-weight: 400;

        @media (max-width: 1200px) {
            font-size: 16px !important;
        }
    }

    &__option {
        background-color: var(--button-bg) !important;
        color: var(--white) !important;
        cursor: pointer !important;
        font-size: 20px !important;
        font-weight: 400;

        &--is-focused {
            color: var(--pink) !important;
        }

        @media (max-width: 1200px) {
            font-size: 16px !important;
        }
    }

    &__menu {
        border-radius: var(--border-radius) !important;
        z-index: 99 !important;
        background-color: var(--button-bg) !important;
    }

    &__single-value {
        font-size: 20px !important;
        font-weight: 400;
        color: var(--pink) !important;

        @media (max-width: 1200px) {
            font-size: 16px !important;
        }
    }
}
