.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(60px);
    box-shadow:
        inset 50px 50px 55px 0 rgba(0, 0, 0, 0.05),
        inset -50px -50px 50px 0 rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    padding: 0 var(--page-padding);
    margin: 0 auto;
    height: 80px;
}

.links {
    align-items: center;
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.logo {
    display: flex;
}
