.wrapper {
    display: grid;
    grid-template-columns: 588px 1fr;
    gap: 100px;
    padding: 0 var(--page-padding);
    margin: 0 auto;
    max-width: var(--max-width);
    margin-top: 100px;
    padding-top: 100px;
    position: relative;

    @media (max-width: 1400px) {
        &:first-of-type {
            margin-top: 0;
        }
    }

    @media (max-width: 1200px) {
        gap: 56px;
    }

    @media (max-width: 1124px) {
        grid-template-columns: 460px 1fr;
    }

    @media (max-width: 992px) {
        grid-template-columns: 460px 1fr;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }

    @media (max-width: 576px) {
        margin-top: 0px;
        gap: 32px;
    }
}

.wrapperReversed {
    grid-template-columns: 1fr 554px;
}

.header {
    font-weight: 700;
    font-size: 46px;
    background: linear-gradient(var(--text-gradient));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 34px;
    width: fit-content;

    @media (max-width: 1124px) {
        font-size: 36px;
        margin-bottom: 28px;
    }

    @media (max-width: 992px) {
        text-align: center;
        margin: 0 auto 34px;
    }

    @media (max-width: 576px) {
        font-size: 26px;
    }
}

.paragraph {
    font-size: 18px;
    line-height: 1.5;

    span {
        font-weight: 700;
    }

    @media (max-width: 1124px) {
        font-size: 16px;
    }
}
